.Footer {
  background-color: #303234;
  color: #b4b5be;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contents_root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1500px;
    p {
      line-height: 40px;
      font-size: 1.7em;
      font-weight: 700;
    }
    .infos {
      margin-top: 20px;
      p {
        line-height: 35px;
        font-size: 1.5em;
        font-weight: 400;
      }
    }
  }
}

.logo {
  height: 70px;
  pointer-events: none;
  margin-right: 10px;
}

.name-box {
  margin-left: 10px;
  .name {
    font-size: 1.3em;
    font-weight: 900;
  }

  .desc {
    pointer-events: none;
    font-size: 0.9em;
    font-weight: 400;
    color: #888;
    margin-top: 6px;
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .box {
    display: flex;
    justify-content: center;
    // background-color: #fff;
    border: transparent;
    border-bottom: #cecece;
    border-width: 1px;
    border-style: solid;
  }
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  z-index: 100;
  z-index: 22;
}

.navbar__logo {
  font-size: 24px;
  display: flex;
  list-style: none;
  padding-left: 0px;
  align-items: center;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
}

.navbar__menu li {
  margin-left: 10px;
  font-size: 1.6em;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 50px;
  cursor: pointer;
}

.navbar__menu li:hover {
  color: #3E53BF;
}

.active li{ 
  background-color: #f4f6f9;
  color: #3E53BF;
}

@media screen and (max-width: 1650px) {
  .Footer {
    padding: 70px 0;
    flex-direction: row;
    justify-content: flex-start;
    .contents_root {
      display: flex;
      flex-direction: row;
      width: auto;
      margin-left: 100px;
    }
  }
}



@media screen and (max-width: 1280px) {
  .navbar {
    padding: 0 40px;
  }
  .logo-writing {
    font-size: 1.2em;
  }
  .navbar__menu li {
    margin-left: 10px !important;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  .logo {
    height: 60px;
  }

  .name-box {
    margin-left: 10px;
    .name {
      font-size: 1.2em;
      font-weight: 700;
    }

    .desc {
      pointer-events: none;
      font-size: 0.7em;
      font-weight: 400;
      color: #888;
    }
  }

}

@media screen and (max-width: 800px) {
  
  .Footer {
    .contents_root {
      p {
        font-size: 1.5em;
        font-weight: 700;
      }
      .infos {
        margin-top: 20px;
        p {
          line-height: 30px;
          font-size: 1.3em;
          font-weight: 400;
        }
      }
    }
  }

  .navbar {
    height: 70px;
    padding: 0 20px;
  }
  .logo {
    height: 50px;
  }
  
  .logo-writing {
    height: 35px;
    font-size: 1.2em;
    padding-top: 3px;
    margin-left: 6px;
  }
  .navbar__menu {
    display: none;
  }
}

input[id="menuicon"] {
  display: none;
}

input[id="menuicon"] + label {
  display: block;
  width: 30px;
  height: 25px;
  position: fixed;
  right: -10%;
  cursor: pointer;
  transition: all 0.35s;
}

input[id="menuicon"]:checked + label {
  right: 5%;
}

input[id="menuicon"] + label span:nth-child(1) {
  top: 0%;
}

input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0%;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media screen and (max-width: 800px) {
  input[id="menuicon"] + label {
    right: 5%;
  }

  .Footer {
    padding: 5% 10%;
    .contents_root {
      p {
        height: 50px;
        font-size: 1.4em;
        font-weight: 700;
      }
      .infos {
        margin-top: 20px;
        p {
          height: auto;
          margin: 10px 0;
          font-size: 1.1em;
          font-weight: 400;
        }
      }
    }
  }
}


@media all and (max-width: 550px) {
  .Footer {
    padding: 5% 10%;
    .contents_root {
      p {
        height: 50px;
        font-size: 1.4em;
        font-weight: 700;
      }
      .infos {
        margin-top: 20px;
        p {
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
  }
}

.sidebar {
  width: 230px;
  height: auto;
  background-color: #fff;
  position: fixed;
  top: 0%;
  right: -260px;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.35s;
}


.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: 80px;
}

.sidebar__menu li {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.sidebar__menu li :hover {
  color: #3E53BF;
}


input[id="menuicon"]:checked + label + div {
  right: 0;
}

input[id="menuicon"]:checked + label {
  z-index: 10;
}

input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 30px;
  // background: #000;
  transition: all 0.35s;
}

.card-list {
  padding: 20px 30px;
  .card {
    width: 1300px;
    margin: 20px 0;
    border-radius: 20px;
    padding: 30px 40px;
    p {
      display: inline;
      font-size: 1.6em;
      line-height: 35px;
    }
    .paper-link {
      cursor: pointer;
    }
  }
}